.collection-item {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    position: relative;
    margin: 15% auto;

    
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .cart-item-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 370px;
      margin: 0 auto;
      display: none;
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 1.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      color: black;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;
      cursor: pointer;
      display: none;
      justify-content: center;
      margin-right: 20px;
  
    }
  
      &:hover {
        .image {
          opacity: 0.8;
        }
        .cart-item-button {
          opacity: 0.85;
          display: flex;
      }
      }
  
    .item-description {
      width: 100%;
      height: 12%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      background-color: burlywood;
  
      .name {
        width: 90%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 1px;
      }
  
      .price {
        width: 10%;
        margin-right: 20px;
      }
    }
  }
  