.checkout-product-container {
    margin-left: 30px;
    background-color: burlywood;
    width: 30vw;
    height: 70vh;
    border: 8px solid black;

    .product-label{
        color: white;
        font-size: 17px;
        padding: 5px;
    }

    .product-label-value{
        display: flex;
        color: white;
        font-size: 17px;
        padding: 5px;
    }

    .product-label-container{
        background-color: #000;
        margin: 0 0 17px 17px;
        height: fit-content;
    }

    .description-container {
        height: 12vh;
        margin: 0 12px;
        margin-bottom: 10px;
    }
}


